{% extends "../../../node_modules/@honkit/honkit-plugin-theme-default/_layouts/website/page.html" %}

{% block book_sidebar %}
        <div class="title">
            <h2>Engineering Culture at celebrate company</h2>
            <small><a href="{{ ["closing/CHANGELOG.html#", config.version] | join | resolveFile }}">Version {{ config.version }}</a></small>
        </div>
<div id="book-search-input" role="search">
    <input type="text" placeholder="{{ 'SEARCH_PLACEHOLDER'|t }}" />
</div>
    {{ super() }}
{% endblock %}

{% block search_results %}
<div id="book-search-results">
    <div class="search-noresults">
        {{ super() }}
    </div>
    <div class="search-results">
        <div class="has-results">
            {% block search_has_results %}
            <h1 class="search-results-title">{{ 'SEARCH_RESULTS_TITLE'|t|safe }}</h1>
            <ul class="search-results-list"></ul>
            {% endblock %}
        </div>
        <div class="no-results">
            {% block search_no_results %}
            <h1 class="search-results-title">{{ 'SEARCH_NO_RESULTS_TITLE'|t|safe }}</h1>
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}
